KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/user.o \
$(ARCHDIR)/util.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/gdt/flush.o \
$(ARCHDIR)/interrupts/idt.o \
$(ARCHDIR)/interrupts/flush.o \

